/build/
/compiler/build/
/kstd/build/
/kstd/.kelp/
/kelp/build/
/kide/vscode/build/
/kide/vscode/node_modules/
/kide/vscode/.npm-cache/
/kide/jetbrains/build/
/kide/jetbrains/.gradle/
/kide/jetbrains/.intellijPlatform/
/doc/node_modules/
/doc/.npm-cache/
/doc/.vitepress/dist/
/doc/.vitepress/cache/
*.vsix
.idea/
.vscode/
idea-build/
doc/.npm-cache
cmake-build-debug/
.kelp/