[submodule "toolchain/llvm-project"]
	path = toolchain/llvm-project
	url = git@github.com:z8z6/kelyra-llvm.git
	branch = kelyra-dxil
	shallow = true
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
	branch = main
	shallow = true
